body {
  height: 100vh;
  margin: 0;
  font-family: "sans-serif";
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  font-size: 40px;
  font-weight: 300;
}

#output {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}

.btn {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  border: 0;
  font-size: 32px;
  height: 72px;
  border-radius: 24px;
  cursor: pointer;
  color: white;
}

.light,
light:focus {
  background-color: #4e505f;
}

.light:hover {
  background-color: #8890a5;
}

.blue,
.blue:focus {
  background-color: #4b5efc;
}

.blue:hover {
  background-color: #789bf9;
}
.dark,
.dark:focus {
  background-color: #2e2f38;
}

.dark:hover {
  background-color: #505266;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  /* Adjust styles for small screens here */
  body {
    overflow-y: hidden;
  }

  #output {
    /*Reduce font size for output display on small screens */
    font-size: 16px;
  }

  #input {
    /*Adjust button layout for small screens */
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 15px;
  }

  .btn {
    /* Reduce button size for small screens */
    padding: 10px;
    font-size: 16px;
  }
}

/* Media query for watches */
@media only screen and (max-width: 320px) {
  #output {
    /* Further reduce font size for output display on watches */
    font-size: 15px;
  }

  #input {
    /* Further adjust button layout for watches */
    grid-template-columns: repeat(3, 1fr);
  }

  .btn {
    /* Further reduce button size for watches */
    padding: 8px;
    font-size: 15px;
  }
}
